@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");


@import "tailwindcss";

@theme {
  --background-image-custom-gradient: linear-gradient(to right, #3b82f6, #9333ea);
  --background-image-custom-gradient-2: linear-gradient(to left, #3b82f6, #f43f5e);
  --background-image-card-gradient: linear-gradient(to right, #38b2ac, #4299e1);
}

/* Import utilities if you want them still */
@layer utilities {
  .bg-custom-gradient {
    background-image: var(--background-image-custom-gradient);
  }
  .bg-custom-gradient-2 {
    background-image: var(--background-image-custom-gradient-2);
  }
  .bg-card-gradient {
    background-image: var(--background-image-card-gradient);
  }
}